/* LAYOUT ------------------------------------------------------------------- */

#open-files-view {
    padding: var(--outer-padding);
    box-sizing: border-box;
}

#open-files-grid {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    row-gap: 5px;
    column-gap: 5px;
}